<!DOCTYPE html>
<html>
<head>
<title>Time Display Service</title>
<style type="text/css">
body {
<%= style %>
}
</style>
</head>
<body>
<p>style: <%= style %></p>
<p>time service says: <i><%= time_response %></i></p>
<p>colour service says: <i><%= colour_response %></i></p>
<p>style service says: <i><%= style_response %></i></p>
</body>
</html>
